# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
feedparser
gitpython
heroku3
psycopg2-binary
pyrogram==1.4.16
python-dotenv
Pyromod==1.5
speedtest-cli
sqlalchemy==1.3.23
wget
